<a href="https://colab.research.google.com/github/Edwin-Joya/Programacion-III/blob/main/Laboratorio_I_CII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios practicos
# ** utilizacion de tarjeta de credito**

**Integrantes:**

María del Carmen Rodriguez Martinez USIS936021 

Génesis Scarlet Hernández Hernández USIS041221

Alan Derek Henríquez Monterrosa         USIS003421

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
tarjetas = pd.read_csv("/content/trx_tarjetas_credito.csv", sep=",", encoding="utf-8")
print(tarjetas)

In [4]:
#Utlizacion de tarjetas de credito por sexo
genero = pd.crosstab(index = tarjetas["Gender"], columns = "fr")
print(genero)

col_0      fr
Gender
F       13680
M       12372

In [5]:
#Total en dolares utilizados diferenciando tarjetas de credito por ciudad
ciudad = (tarjetas.groupby(["City", "Card Type"]).sum())
print(ciudad)
#print(tarjetas.groupby(["City", "Card Type"]).sum())

                            Amount
City             Card Type
Achalpur, India  Gold       679992
                 Platinum   178612
                 Signature  547005
                 Silver     201032
Adilabad, India  Gold        49020
...                            ...
Zira, India      Signature  218424
                 Silver      98224
Zirakpur, India  Platinum   549663
Zunheboto, India Signature   89271
                 Silver     377158

[3104 rows x 1 columns]

In [6]:
#Total utilizado por tipo de gasto
gasto = (tarjetas.groupby(["Exp Type"]).sum().groupby(level = [0]).cumsum())
print(gasto)
#print(tarjetas.groupby(["Exp Type"]).sum().groupby(level = [0]).cumsum())

                  Amount
Exp Type
Bills          907072473
Entertainment  726437536
Food           824724009
Fuel           789135821
Grocery        718207923
Travel         109255611

In [ ]:
#Utlizacion de tarjetas de credito por sexo grafico
tabla = pd.crosstab(index=tarjetas["Gender"], columns="fr")
plt.pie(tabla, labels=tabla.index, autopct="%0.1f %%")
plt.xlabel("Utilizacion de tarjetas por sexo")
plt.show()

In [ ]:
#Utilizacion de tarjetas por genero
genero.to_excel("/content/tarjetasGenero.xlsx", sep=";")

In [ ]:
#Total de dolares utilizados por ciudad
ciudad.to_excel("/content/tarjetasporciudad.xlsx", sep=";")

In [ ]:
#Total utilizado por tipo de gasto
gasto.to_excel("/content/totalutilizadoportipo.xlsx", sep=";")